*{
    margin:0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    background-color: yellow;
}
.lila{
    background-color: purple;
    width: 100px;
    height: 100px;
}