*{
    margin:0;
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 600px;
}
#zold{
    background-color: green;
    flex-grow: 1;
}
#sarga{
    background-color: yellow;
    flex-grow: 2;
    order: 2;
}
#lila{
    background-color: purple;
    flex-grow: 1;
}