:root {
    --width: 90vw;
    --height: 60vh;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    color: beige;
}

.container {
    display: grid;
    grid-template-columns: repest(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    width: var(--width);
    height: var(--height);
    background-color: rgb(41, 2, 2);
}

.area1 {
    grid-area: 1 / 2 / 5 / 3;
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: calc(var(--width) / 3);
    height: var(--height);
}

.one {
    background-color: teal;
}

.size {
    width: calc(var(--width) / 3 - 2px);
    height: calc(var(--height) / 4 - 2px);
    margin: 1px;
}

.area2 {
    grid-area: 2 / 1 / 4 / 4;

    display: flex;
    flex-wrap: wrap;
    width: var(--width);
    height: calc(var(--height) / 2);
}

.two {
    background-color: teal;
}